.login_form {
  position: relative;
  height: 100vh;
}
.login_form_container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login_button {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
