html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color5);
}
.btn_master {
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
:root {
  --color1: #1e242d;
  --color2: yellow;
  --color3: #ff5c5c;
  --color4: #2f3135;
  --color5: #fbf8f6;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.master_button {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.interest_button {
  background-color: var(--color2);
  color: var(--color1);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 4%;
}
.card_body {
  background-color: white;
  border-radius: 16px;
  padding: 30px 4px;
}
.newLine {
  border-top: 1px dashed var(--color1);
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}

@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}
.react-responsive-modal-modal {
  border-radius: 20px;
}

.card_purple_blue {
  background: linear-gradient(45deg, #6d80fe 0%, #23d2fd 100%);
  box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
}

.card_salmon_pink {
  background: linear-gradient(45deg, #ff998b 0%, #ff6d88 100%);
  box-shadow: 0 5px 20px rgba(255, 153, 139, 0.3);
}

.card_blue_green {
  background: linear-gradient(45deg, #09afe8 0%, #29f499 100%);
  box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}

.card_purple_pink {
  background: linear-gradient(45deg, #707cff 0%, #fa81e8 100%);
  box-shadow: 0 5px 20px rgba(250, 129, 232, 0.3);
}
